## Basics of Coding Python

In [2]:
print("Hello World")

Hello World

Using Comments

In [3]:
# This is a comment
print("how to use comment")

how to use comment

Importing Packages

In [4]:
import pandas as pd
import numpy as np

Getting Data

In [12]:
Data=pd.read_csv('height-weight.csv')
Data

    Weight  Height
0       45     120
1       58     135
2       48     123
3       60     145
4       70     160
5       78     162
6       80     163
7       90     175
8       95     182
9       78     170
10      82     176
11      95     182
12     105     175
13     100     183
14      85     170
15      78     177
16      50     140
17      65     159
18      76     150
19      87     167
20      45     129
21      56     140
22      72     160

Saving the output

In [6]:
height=Data['Height']
height

0     120
1     135
2     123
3     145
4     160
5     162
6     163
7     175
8     182
9     170
10    176
11    182
12    175
13    183
14    170
15    177
16    140
17    159
18    150
19    167
20    129
21    140
22    160
Name: Height, dtype: int64

Accessing Records and Variables

In [8]:
data9=Data.iloc[9]
test=Data.iloc[15:20]
test
column=Data['Weight']

In [ ]:
Data['index']=pd.Series(range(0,23))

In [ ]:
Data.head()